.vscode/settings.json
__pycache__/main.cpython-310.pyc
src/__pycache__/gridgen.cpython-310.pyc
src/__pycache__/utils.cpython-310.pyc
.gitignore
src/__pycache__/experiment.cpython-310.pyc
docs/.obsidian/app.json
docs/.obsidian/appearance.json
docs/.obsidian/core-plugins.json
docs/.obsidian/hotkeys.json
docs/.obsidian/workspace.json
mills2022.aux
mills2022.bbl
mills2022.blg
mills2022.fdb_latexmk
mills2022.fls
mills2022.log
mills2022.pdf
mills2022.synctex.gz
mills2022.toc
